<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Perfil de Usuarios</title>
</head>    
<body>
<h1>Perfil de Usuarios</h1> 
<p> Nombre: <%= user.name %></p>
<p> Edad: <%= user.age %></p>
</body>
</html>