<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Lista de Usuarios</title>
</head>    
<body>
<h1>Lista de Usuarios</h1> 
<ul>
    <% users.forEach(user => { %>
        <li> 
            <a href="/users/<%= user.id%>"><%= user.name%>(Age:<%=user.age%>)</a>
        </li>
    <% }) %>
</ul> 
</body>
</html>