<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Lista de Productos</title>
</head>    
<body>
<h1>Lista de Productos</h1>
<ul>
    <% productos.forEach(productos => { %>
        <li> <%= productos.name %> - $<%= productos.price %></li>
    <% }) %>
</ul> 
</body>
</html>